

/* layout bài tập 23/07 */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.33)
  ),
  url(/src/assets/img/glassesImage/background.jpg);
}

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0;
  margin-bottom: 7rem;
}

.body {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.body .body__item {
  margin: 0 7rem;
  width: 20rem;
  
}

.body .body__item .cardInfo {
  position: absolute;
  top: 26.8rem;
  width: 20rem;
  background-color: rgba(250, 81, 2, 0.33);
}

.body .body__item .cardInfo h3 {
  color: blue;
}

.body .body__item .cardInfo p {
  color: #eee;
}

.body .body__item .face {
  position: relative;
  width: 100%;
}

.body .body__item .glasses {
  width: 12rem;
  position: absolute;
  top: 19rem;
  left: 31rem;
  background: transparent;
  opacity: 0.7;
}

.content .choose_glasses {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin-bottom: 7rem;
}

.content .choose_glasses button {
  width: 10rem;
  border-style: none;
  margin: 1rem;
  background-color: white;
}

.content .choose_glasses button:hover {
  transition: 0.3s ease-in;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
} */




